.errorLoadDiv {
    padding: 2rem;
}

.inputFormItem {
    margin: 10px;
}

.loadingItems {
    width: 75%;
    margin: 0 auto;
    position: relative;
}

.loading-skeletons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skeletonItem {
    margin: 1em;
}

.spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.center-icon .pi {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-button .p-button-icon-left {
    margin-right: 0.5em; /* Adjust this to your preferred space */
}

.movie-card-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 5; 
}

.movie-details {
    position: fixed;
    top: 0;
    left: 50;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px); 
    z-index: 4; 
    overflow-y: auto;
}

.movie-detail-exit {
    right: 5%;
}