#allContent {
    color: white;
}

.errorLoadDiv {
    padding: 2rem;
}

#moviePoster {
    width: 250px;
    height: 300px;
}

#allMovies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.inputFormItem {
    margin: 10px;
}

.loadingItems {
    width: 75%;
    margin: 0 auto;
    position: relative;
}

.loading-skeletons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skeletonItem {
    margin: 1em;
}

.spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.center-icon .pi {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}