h1, h2, h3, h4, h5, h6, strong {
  font-weight: bold;
}

#allContent {
  color: #362a6c;
}

ol {
  list-style: none;
}

.aboutme-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.aboutme-description {
  font-size: 2rem;
}

.aboutme-title {
  display: flex;
  flex-wrap: wrap;
  font-size: 2rem;
  font-style: italic;
  font-weight: bolder;
  text-decoration: underline;
  text-underline-offset: .5rem;
  padding: .5rem;
}

.aboutme-skills {
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  /* font-size: 2rem; */
  border-radius: 15px;
  background-color: #6075ec;
  color: white;
  box-shadow: 0 0 10px .5px #362a6c;
  font-weight: 600;
  font-family: Libre;
  transition: transform .3s ease;
}

.aboutme-skills:hover {
  /* font-size: 3rem; */
  transform: scale(1.2);
  box-shadow: 0 0 15px 5px blue;
}
 
#skills {
  display: flex;
  flex-wrap: wrap;
}

#linkedIn {
  color: #eb3361;
  text-decoration: none;
  transition: .5s;
}

#linkedIn:hover {
  border: 5px solid #eb3361;
  padding: 2px;
}