.aboutMe-container {
    display: flex;
    flex-direction: row;
    align-content: center;
  }
  
  .aboutMe-content {
    margin: 1 auto;
  }
  
  .myName {
    font-size: 3rem;
  }
  
  #myDescription {
    width: 65vw;
    margin-left: auto;
    margin-right: auto;
    /* border: solid black 1px; */
  }

  #myDescription-first {
    font-size: 4rem;
  }
  
  #myDescription-second {
    font-size: 4rem;
  }

  #aboutMe {
    display:flex;
    justify-content: space-around;
    color: #362a6c;
    padding: 5rem;
  }

  #changingName {
   display: flex;
   flex-direction: row;
   justify-content:space-evenly;
   width: 75vw;
   margin: 0 auto;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity 1s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
    opacity: 0;
  }
