@font-face {
    font-family: 'Playfair';
    src: url('../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf')format('truetype');
}

@font-face {
    font-family: 'Playfair-Bold';
    src: url('../fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf')format('truetype');
}

@font-face {
    font-family: 'Playfair-Italic';
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf')format('truetype');
}

@font-face {
    font-family: 'Libre';
    src: url('../fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf')format('truetype');
}

@font-face {
    font-family: 'Libre-Bold';
    src: url('../fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf')fomat('truetype');
}

@font-face {
    font-family: 'Libre-Italic';
    src: url('../fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf')format('truetype');
}